name: schedule

on:
  schedule:
    - cron: '0 14 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TZ: America/New_York

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: |
          npm ci

      - name: Setup git config
        run: |
          git config --local user.email "jscnm1993+github_auto@gmail.com"
          git config --local user.name "Auto Commit"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git pull --rebase

      - name: Run promote script
        run: |
          node generate_new.js ${{ secrets.API_KEY }}
      - name: Update main
        run: |
          git add .
          git diff-index --quiet HEAD || git commit -m "Auto commit from Github Action"
          git push

      - name: Update release
        run: |
          git checkout release
          git merge --ff-only origin/main
          git push
